body{
    background-color: blueviolet;
}
.sinta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}
.sinta {
    width: 200px; 
}
.biodata{
    background-color: white;
}